div#dfx_src_widget_editor(ng-controller="dfx_view_editor_controller", dfx-ve-ctrl-s="saveView()", layout="column", flex, style="height:100%;", data-view-cat="#{widget.category}", data-view-platform="#{widget.platform}")
    div#dfx-ve-header
        img(src="/images/df_logo_blanc_1029x223.png", style="width: 90px;margin-top: -3px;margin-left:10px;")
        div(style="color: #fff;font-size: 13px;font-style: italic;display: inline-block;") - View Editor
        div.pull-right(style="color: #fff;font-size: 13px;line-height:20px;display: inline-block;margin-top:2px;margin-right:20px;padding-left:5px; padding-right:5px; background:#2196F3;border-radius:3px") {{view_name}}
    div#dfx-ve-toolbar
        md-toolbar.dfx-ve-toolbar
            div.dfx-ve-toolbar-tools.md-toolbar-tools
                span(style="width: 85px;height: 45px;padding-top: 5px;")
                    md-menu#dfx-ve-menu-view-mode(md-offset="0 36")
                        label(md-menu-origin, style="font-size:12px;background: #4CD5F3;margin-left: 10px;padding: 4px 8px;color:#1f1f1f;margin-top:4px;margin-right:10px;cursor:pointer", ng-click="$mdOpenMenu($event)")
                            span(style="margin-right:5px;font-weight:700") {{design_view_mode}}
                        md-menu-content#dfx-ve-toolbarmenu(width="4")
                            md-menu-item
                                md-button(ng-click="changeViewMode('design')")
                                    ng-md-icon(icon="brush")
                                    span(style="padding-left:10px") Design
                            md-menu-item
                                md-button(ng-click="changeViewMode('script')")
                                    ng-md-icon(icon="code")
                                    span(style="padding-left:10px") Script
                            md-menu-item
                                md-button(ng-click="changeViewMode('style')")
                                    ng-md-icon(icon="palette")
                                    span(style="padding-left:10px") Style
                            md-menu-item
                                md-button(ng-click="changeViewMode('source')")
                                    ng-md-icon(icon="developer_mode")
                                    span(style="padding-left:10px") Source
                span(style="font-size: 12px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", ng-show="design_visible")
                    span(style="margin-right:5px") Edit:
                    img(src="/images/vb/icons/edit_cut.png", ng-show="design_visible", class="dfx-ve-toolbar-icon animated", ng-click="viewEditorCut($event)", title="cut")
                    img(src="/images/vb/icons/edit_copy.png", ng-show="design_visible", class="dfx-ve-toolbar-icon animated", ng-click="viewEditorCopy($event)", title="copy")
                    img(src="/images/vb/icons/edit_paste.png", ng-show="design_visible", class="dfx-ve-toolbar-icon animated", ng-click="viewEditorPaste($event)", title="paste")
                    img(src="/images/vb/icons/edit_undo.png", ng-show="design_visible", class="dfx-ve-toolbar-icon animated", ng-click="viewEditorUndo($event)", title="undo")
                span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", ng-show="design_visible")
                    span(style="margin-right:5px") Cards:
                    img(src="/images/vb/icons/cards_add.png", ng-show="design_visible", class="dfx-ve-toolbar-icon", ng-click="addCard($event)", title="Add a new card")
                    img(src="/images/vb/icons/cards_subtract.png", ng-show="design_visible", class="dfx-ve-toolbar-icon", ng-click="removeCard($event)", title="Remove the current card")
                span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", ng-show="design_visible")
                    span(style="margin-right:5px") Workspace:
                    img(src="/images/vb/icons/preview_global.png", ng-show="design_visible", class="dfx-ve-toolbar-icon", ng-click="loadViewSettingsMenu($event)", title="View Settings")
                span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", ng-show="script_visible")
                    span(style="margin-right:5px") Script:
                    img(src="/images/vb/icons/script_assistant.png", class="dfx-ve-toolbar-icon", ng-click="showHelpEditor($event)", title="Code Assistant")
                    img(src="/images/vb/icons/script_dependencies.png", class="dfx-ve-toolbar-icon", ng-click="configureDependenciesScript($event)", title="Configure Dependencies")
                    md-menu#dfx-ve-menu-script-theme
                        span(md-menu-origin, style="background:#368798;margin-left:5px;padding:6px;cursor:pointer;", ng-click="$mdOpenMenu($event)") Theme: {{script_theme}}
                        md-menu-content(width="4")
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('3024-day')") 3024-day
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('3024-dark')") 3024-dark
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('ambiance')") ambiance
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('blackboard')") blackboard
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('dracula')") dracula
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('eclipse')") eclipse
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('erlang-dark')") erlang-dark
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('icecoder')") icecoder
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('material')") material
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('monokai')") monokai
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('neo')") neo
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('rubyblue')") rubyblue
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('solarized light')") solarized light
                            md-menu-item
                                md-button(ng-click="changeScriptTheme('solarized dark')") solarized dark
                span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", ng-show="script_visible")
                    span(style="margin-right:5px") Edit:
                    img(src="/images/vb/icons/script_search.png", class="dfx-ve-toolbar-icon", ng-click="searchScript($event)", title="Search")
                    img(src="/images/vb/icons/script_replace.png", class="dfx-ve-toolbar-icon", ng-click="replaceScript($event)", title="Replace")
                span.flex
                    span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", class="pull-right")
                        span(style="margin-right:5px") Actions:
                        img(src="/images/vb/icons/action_save.png", class="dfx-ve-toolbar-icon", ng-click="saveView($event)", title="Save")
                        img(src="/images/vb/icons/action_exit.png", class="dfx-ve-toolbar-icon", ng-click="exitViewEditor($event)", title="Exit the editor")
                    span(style="font-size: 12px;margin-left: 1px;background: #4a4a4a;line-height: 48px;color: #fff;padding: 0 8px;border-left: 1px #6b6a6a solid;border-right: 1px #6b6a6a solid;", class="pull-right")
                        span(style="margin-right:5px") Preview:
                        img(src="/images/vb/icons/preview_local.png", class="dfx-ve-toolbar-icon", ng-click="openPreview($event)", title="Preview")
                        md-menu#dfx-ve-menu-preview(md-offset="0 36")
                            img(src="/images/vb/icons/preview_global.png", class="dfx-ve-toolbar-icon", ng-click="$mdOpenMenu($event)", title="Settings")
                            md-menu-content(width="4")
                                md-menu-item
                                    md-button(ng-click="openPreviewSettings($event)")
                                        ng-md-icon(icon="tune")
                                        span(style="padding-left:10px") Settings
                                md-menu-item
                                    md-button(ng-click="openPreviewInPage($event)")
                                        ng-md-icon(icon="ondemand_video")
                                        span(style="padding-left:10px") Preview in Page
                                md-menu-item
                                    md-button(ng-click="compileView($event)")
                                        ng-md-icon(icon="track_changes")
                                        span(style="padding-left:10px") Compile View
                        div(style="color:#fff;display: inline-block;margin-left: 10px;", ng-if="preview_wait_icon_visible === true")
                            md-icon.fa.fa-spinner.fa-pulse(style="font-size: 24px;")
                            span(style="padding-left:10px") compiling
                    label.pull-right(style="font-size:12px;background:#8731AB;padding: 2px 4px;color:#fff;margin-top:14px;margin-right:10px;border-radius:8px;cursor:pointer", ng-if="view_platform=='mobile'", ng-click="changeDeviceOrientation()") {{design_device_orientation}}
                    md-menu.pull-right(style="margin-top:-3px", md-offset="0 32", ng-if="view_platform=='mobile'")
                        label(md-menu-origin, style="font-size:12px;background:#14BD39;padding: 2px 4px;color:#fff;margin-top:16px;margin-right:10px;border-radius:8px;cursor:pointer", ng-click="$mdOpenMenu($event)") {{design_selected_device.label}}
                        md-menu-content(width="6")
                            md-menu-item(ng-repeat="device in design_devices")
                                md-button(ng-click="changeDevice($index)") {{device.name}}
                div#dfx-ve-property-title(ng-show="design_visible")
                    md-button#dfx-ve-toggle-property.dfx-ve-toolbar-button(aria-label="properties", ng-click="toggleRight()")
                        i#dfx-ve-toggle-property-icon.fa.fa-angle-double-right
                    div#dfx-ve-property-title-text
                        a(href="#") Properties
                        div#dfx-ve-property-title-selected-gc(style="display:none")
                            span(style="margin-left:5px;margin-right:5px") >
                            a#dfx-ve-property-title-selected-gc-text(href="#", ng-click="reloadPropertyPanel()") Gc
                        div#dfx-ve-property-title-selected-renderer(style="display:none")
                            span(style="margin-left:5px;margin-right:5px") >
                            a#dfx-ve-property-title-selected-renderer-text(href="#") Renderer
    div(layout="column", flex, ng-show="!script_visible && !style_visible && !source_visible", style="height:100%")
        section(layout="row", flex="100")
            md-sidenav#dfx-ve-sidenav-left.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", ng-show="palette_visible")
                div#dfx-ve-sidenav-left-header(class = "dfx-ve-floating-panel-header dfx-ve-hidden-element") &nbsp;
                div.dfx-ve-floating-panel-collapser(ng-click="minimizePanel('dfx-ve-sidenav-left')")
                    md-icon#dfx-ve-sidenav-left-collapser(class="fa fa-minus", style="color: #fff;", aria-label="Minimize Panel")
                div.dfx-ve-floating-panel-closer(ng-click="closePanel('dfx-ve-sidenav-left')")
                    md-icon(class="fa fa-close", style="color: #fff;", aria-label="Close Panel")
                md-content#dfx-ve-sidenav-left-content(layout-padding show-gt-md)
                    div#dfx_visual_editor_gc_palette_content.dfx-ve-palette-treeview.hover
                        ul(style="border-top: 1px #6b6a6a solid")
                            li
                                input#palette-item-0.dfx-ve-palette-treeview-button(type="checkbox")
                                label(for="palette-item-0")
                                    span Basic
                                ul.dfx-ve-palette-treeview-content(gc-cat="basic", style="margin-bottom:5px")
                            li
                                input#palette-item-1.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-1")
                                    span Input
                                ul.dfx-ve-palette-treeview-content(gc-cat="input", style="margin-bottom:5px")
                            li
                                input#palette-item-2.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-2")
                                    span Menu
                                ul.dfx-ve-palette-treeview-content(gc-cat="menu", style="margin-bottom:5px")
                            li
                                input#palette-item-3.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-3")
                                    span Selection
                                ul.dfx-ve-palette-treeview-content(gc-cat="selection", style="margin-bottom:5px")
                            li
                                input#palette-item-4.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-4")
                                    span Table
                                ul.dfx-ve-palette-treeview-content(gc-cat="table", style="margin-bottom:5px")
                            li
                                input#palette-item-5.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-5")
                                    span Chart
                                ul.dfx-ve-palette-treeview-content(gc-cat="chart", style="margin-bottom:5px")
                            li
                                input#palette-item-6.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-6")
                                    span Layout
                                ul.dfx-ve-palette-treeview-content(gc-cat="layout", style="margin-bottom:5px")
                            li(style="display:none")
                                input#palette-item-7.dfx-ve-palette-treeview-button(type="checkbox", checked)
                                label(for="palette-item-7")
                                    span Custom
                                ul.dfx-ve-palette-treeview-content(gc-cat="custom", style="margin-bottom:5px")
            md-content#dfx-ve-main-content(flex="100", ng-click="unselectComponent()")
                md-tabs.md-dynamic-height(layout="column", md-selected="view_card_select_index")
                    md-tab(ng-repeat="card in view_cards", label="{{card.name}}")
                        md-content#dfx-ve-main-content-tab-content(style="padding:10px;background-color:#efefef", layout="row", layout-align="center start")
                            div#dfx-ve-platform(layout="column", style="height:100%;", dfx-ve-platform)
                                div(id="dfx_visual_editor_workspace_{{card.name}}", dfx-card="{{card.name}}", dfx-ve-workspace, style="overflow:auto", flex="100", layout="column")
                            div#dfx-ve-ruler-vertical.dfx-ve-ruler.dfx-ve-hidden-element
                            div#dfx-ve-ruler-horizontal.dfx-ve-ruler.dfx-ve-hidden-element
            md-sidenav#dfx-ve-sidenav-right.md-sidenav-right.md-whiteframe-z2(md-component-id="right", md-is-locked-open="$mdMedia('gt-md')", ng-show="property_visible")
                div#dfx-ve-sidenav-right-header(class = "dfx-ve-floating-panel-header dfx-ve-hidden-element") Properties
                div.dfx-ve-floating-panel-collapser(ng-click="minimizePanel('dfx-ve-sidenav-right')")
                    md-icon#dfx-ve-sidenav-right-collapser(class="fa fa-minus", style="color: #fff;", aria-label="Minimize Panel")
                div.dfx-ve-floating-panel-closer(ng-click="closePanel('dfx-ve-sidenav-right')")
                    md-icon(class="fa fa-close", style="color: #fff;", aria-label="Close Panel")
                md-content#dfx-ve-sidenav-right-content(show-gt-md)
                    div(ng-show="gc_selected==null")
                      div.dfx-ve-property-treeview.hover
                        ul
                            li
                                input.dfx-ve-property-treeview-button(type="checkbox", id="view-properties")
                                label(for="view-properties") View Properties
                                ul.dfx-ve-property-treeview-content
                                    li.col-md-12
                                        a(href="#", ng-click="exportView()", style="text-decoration: none!important; color: white") 
                                            span
                                                ng-md-icon(icon="archive", size="18", style="margin-top: -3px")
                                                p(style="display: inline-block; margin: 0 4px 2px;") Export the View
                            li
                                input.dfx-ve-property-treeview-button(type="checkbox", id="item-0")
                                label(for="item-0") Card Properties
                                ul.dfx-ve-property-treeview-content
                                    li.col-md-12
                                        span.col-md-4(style="margin-top: 3px") Animation In:
                                        md-input-container.col-md-8(style="padding: 0 0 4px 0")
                                            md-select(aria-label="Animation In", ng-model="view_card_animation.in")
                                                md-option(ng-repeat="animation in animation_in_list", value="{{animation}}") {{animation}}
                                    li.col-md-12
                                        span.col-md-4(style="margin-top: 3px") Animation Out:
                                        md-input-container.col-md-8(style="padding: 0 0 4px 0")
                                            md-select(aria-label="Animation Out", ng-model="view_card_animation.out")
                                                md-option(ng-repeat="animation in animation_out_list", value="{{animation}}") {{animation}}
                    div#dfx_visual_editor_property(ng-show="gc_selected!=null")
                        a#dfx_visual_editor_property_title
                        div#dfx_visual_editor_property_panel
    pre#dfx_src_editor(style="border-radius: 0;display: none;").
        #{widget.src}
    pre#dfx_script_editor(style="border-radius: 0;display: none;").
        #{widget.src_script}
    pre#dfx_styles_editor(style="border-radius: 0;display: none;").
        #{widget.src_styles}
