div.row.property-container.row(style="margin: 0;")
    div.form-group.col-lg-2
        label.control-label(for="field-#{name}-name", readonly) Name:
        input.form-control(id="field-#{name}-name", type="text", name="fldName", placeholder="Property name", value="#{name}")
    div.form-group.col-lg-3
        label.control-label(for="field-#{name}-title") Title:
        input.form-control(id="field-#{name}-title", type="text", name="fldTitle", placeholder="Form label", value="#{title}")
    div.form-group.col-lg-2
        label(for="field-#{name}-type") Type:
        select.form-control.selectpicker.field-type-selector(id="field-#{name}-type", name="fldType", placeholder="")
            option(value="boolean", selected=type=='boolean') Boolean
            option(value="numeric", selected=type=='numeric') Numeric
            option(value="string", selected=type=='string') String
            option(value="text", selected=type=='text') Text
            option(value="array", selected=type=='array') Array
    div.form-group.value-field(id="field-#{name}-value-input", class=(!mandatory || mandatory == 'false' || type == 'array'  ? ((!mandatory || mandatory == 'false') && !subdocument ? 'col-lg-2' : 'col-lg-3') : 'col-lg-5'), data-subdocument="#{subdocument}", data-mandatory="#{mandatory}")
        label(for="field-#{name}-default") Default:
        case type
            when "boolean"
                select.form-control.selectpicker(id="field-#{name}-default", name="fldType")
                    option(value="false") false
                    option(value="true") true
            when "numeric"
                input.form-control(id="field-#{name}-default", type="text", name="fldDefault", placeholder="Default value", value="#{default_value}")
            when "string"
                input.form-control(id="field-#{name}-default", type="text", name="fldDefault", placeholder="Default value", value="#{default_value}")
            when "text"
                textarea(id="field-#{name}-default", name="fldDefault", placeholder="Default value", class="form-control", rows="3") #{default_value}
            when "array"
                if default_value.length
                    each val, index in default_value
                        div.input-group(style=(index?"margin-top: 10px;":""))
                            input.form-control(id="field-#{name}-default-#{index}", type="text", name="fldDefault[]", placeholder="Default value", value="#{val}", data-type="array")
                            div.input-group-btn
                                button.btn.btn-danger(id="remove-element-#{name}", title="Remove element")
                                    span.fa.fa-lg.fa-trash-o
                else
                    div.input-group
                        input.form-control(id="field-#{name}-default-0", type="text", name="fldDefault[]", placeholder="Default value", value="", data-type="array")
                        div.input-group-btn
                            button.btn.btn-danger(id="remove-element-#{name}", title="Remove element")
                                span.fa.fa-lg.fa-trash-o
    if !mandatory || mandatory == 'false' || type == 'array'
        if type == 'array'
            div.form-group.col-lg-1(style="margin-top: 25px;")
                button.btn.btn-info(id="add-element-#{name}", type='button', title="Add array element", style="margin-right: 15px;")
                    span.fa.fa-lg.fa-plus
        if !mandatory || mandatory == 'false'
            div.form-group.col-lg-1(style="margin-top: 25px;")
                button.btn.btn-danger(id="remove-property-#{name}", type='button', title="Remove property")
                    span.fa.fa-lg.fa-trash-o
