div(style="overflow-x:hidden")
    ol.breadcrumb
        li
            a(href="javascript:DfxStudio.Dispatcher.run('#!/home/');")
                span.fa.fa-lg.fa-home
        li
            a(href="javascript:DfxStudio.Dispatcher.run('#!/catalog/');") Catalog
        li
            a(href="javascript:DfxStudio.Dispatcher.run('#!/catalog/application/#{application.name}');") Application: #{application.name}
        li.active Application Configuration: Menu Items - role #{role}
    div.row(style="margin-top:10px")
        div.col-lg-4
            div.panel.panel-primary
                div.panel-heading
                    h4
                        span Application Menu
                div.panel-body
                    div#treecontrol.pull-right
                        a.btn.btn-link.expand-all(href="javascript:void(0);")
                            span.fa.fa-minus
                            span(style="padding-left: 5px;") Collapse All
                        a.btn.btn-link.collapse-all(href="javascript:void(0);", style="margin-left: 10px;")
                            span.fa.fa-plus
                            span(style="padding-left: 5px;") Expand All
                    div.clearfix
                    div.tree.menu-item-tree(style="margin-bottom:10px")
                        ul#ac-menu-item-treeview
                            li.tree-root(item-application="#{application.name}", item-role="#{role}")
                                a(href="javascript:void(0);") #{application.name}
                                ul
                                    mixin displayTreeItem(tree_item)
                                        li(item-type="menu-item", item-menu="#{tree_item.name}")
                                            a.item-selector(href="javascript:void(0);") #{tree_item.name}
                                            - if (tree_item.children.length > 0) {
                                                ul
                                                    each child_tree_item, j in tree_item.children
                                                        mixin displayTreeItem(child_tree_item)
                                            - }
                                    each menu_item, i in menuItems
                                        mixin displayTreeItem(menu_item)
        div.col-lg-8
            div.panel.panel-primary
                div.panel-heading
                    div.panel-title
                        | Menu Item Details
                div.panel-body#dfx_collapsible_menu_item_details
                    span#menu_item_detail_intro(style="display: block;")
                        div Select a menu item from tree.
                    span#menu_item_detail_form(style="display: none;")
                        form(action="javascript:void(0);", id='applicationMenuForm')
                            fieldset
                                div.form-group.col-lg-4
                                    label(for="fldName") Name:
                                    input#fldName.form-control(type="text", data-inputname='name', readonly)
                                div.form-group.col-lg-4
                                    label(for="fldVisibility") Visible:
                                    select#fldVisibility.form-control.selectpicker(name="fldVisibility", data-inputname='visibility')
                                        option(value="true") yes
                                        option(value="false") no
                            div#menu_item_detail_buttons(style="margin-top: 30px;")
                                a.btn.btn-info(href="javascript:DfxStudio.Dashboard.saveMenuItemConfig();")
                                    span.fa.fa-lg.fa-floppy-o
                                    span(style="padding-left: 5px;") Save
                                a.btn.btn-default(href="javascript:DfxStudio.Dashboard.discardMenuItemConfigChanges();", style="margin-left: 10px;")
                                    span.fa.fa-lg.fa-undo
                                    span(style="padding-left: 5px;") Cancel
