doctype html
html#extr-page(ng-app="#{appname}")
    head
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Login to #{apptitle}
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css", media="screen")
        link(rel="stylesheet", type="text/css", href="css/mobile/app.css", media="screen")
        script(src="js/vendor/des.min.js")
        script(src="js/vendor/md5.js")
        script(src="js/commons/authRequest.js")
        script(src="js/vendor/angular.min.js")
        script(src="js/vendor/angular-route.min.js")
        script(src="js/vendor/jquery.min.js")
        script(src="semantic/dist/semantic.min.js")
        script(src="js/commons/dfx-utils.js")
        script(src="js/commons/dfx.directives.js")
        script(src="js/commons/jquery.dreamface-1.0.js")
        script(src="js/commons/jquery.dfxAjax.js")
        script(src="js/mobile/dfx.mobile.js")
        script(src="js/mobile/app.js")
    body
        script(type="text/javascript").
            DreamFace.initSession({dfx_appname: '#{appname}', dfx_tenantid: '#{tenantid}', dfx_ispreview:false});
            DreamFace.successfulLoginRedirectUrl = 'Home.html';


        div.ui.left.aligned.segment
            h4.ui.dividing.header Login to #{appname}
            div.ui.form
                div.field
                    label(for="username") User ID:
                    div.ui.corner.labeled.icon.input
                        input#username(type="text", placeholder="userid", name="username")
                        div.ui.corner.label
                            i.user.icon
                div.field
                    label(for="password") Password:
                    div.ui.corner.labeled.icon.input
                        input#password(type="text", placeholder="password", name="password")
                        div.ui.corner.label
                            i.lock.icon
                input.ui.inverted.blue.button(type="submit", name="submit")

        script(src="js/vendor/login.js")
