div.panel.panel-primary
    div.panel-heading
        div.panel-title
            | Page Main Properties
            div.pull-right
                a(href="javascript:DfxStudio.switchCollapsible('screen_details');")
                    span#dfx_collapsible_icon_screen_details.fa.fa-lg.fa-angle-down
    div.panel-body#dfx_collapsible_screen_details
        span#screen_detail_form
            form#applicationScreenForm(action="javascript:void(0);")
                h4
                    span.dfs_content_title_2 Properties
                fieldset
                    div.form-group.col-lg-6
                        label(for="fldScreenName") Name:
                        input#fldScreenName.form-control(type="text", data-inputname='name')
                    div.form-group.col-lg-6
                        label(for="fldScreenTitle") Title:
                        input#fldScreenTitle.form-control(type="text", data-inputname='title')
                    div.form-group.col-lg-6
                        label(for="fldScreenCategory") Category:
                        div.input-group
                            select#fldScreenCategory.form-control(data-inputname='categoryName')
                                if categories.length
                                    each category in categories
                                        option(value="#{category.name}") #{category.name}
                            span.input-group-btn
                                button#queryAddQueryCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Screens.categories('create', '#{applicationName}');")
                                    span.fa.fa-lg.fa-plus
                            span.input-group-btn
                                button#queryEditQueryCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Screens.categories('edit', '#{applicationName}');")
                                    span.fa.fa-lg.fa-pencil-square-o
                            span.input-group-btn
                                button#queryRMQueryCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Screens.categories('remove', '#{applicationName}');")
                                    span.span.fa.fa-lg.fa-trash-o
            h4
                span.dfs_content_title_2 Layout
            div#dfx_screen_detail_layout
                div(style="margin:10px")
                    a.btn.btn-info(href="javascript:DfxStudio.layoutEditor.addRow();")
                        span.fa.fa-lg.fa-plus
                        span(style="padding-left:5px") Add Row
                    a.btn.btn-info(href="javascript:DfxStudio.layoutEditor.removeRow();", style="margin-left:32px")
                        span.fa.fa-lg.fa-trash-o
                        span(style="padding-left:5px") Remove Row
                div.row
                    div#editLayoutPanel.col-md-8
                    div#dfx_edit_content_panel.col-md-4
                        div.input-group(style="margin-bottom:10px")
                            input#fldSearchWidget.form-control(type="text", size="20", placeholder="Search a view")
                            span.input-group-btn
                                button.btn.btn-info(type="button", onclick="DfxStudio.layoutEditor.searchWidgets({applicationName: '#{applicationName}', platform: 'web'})")
                                    span.fa.fa-lg.fa-search
                            span.input-group-btn
                                button.btn.btn-info(type="button", onclick="DfxStudio.layoutEditor.createPredefinedWidget({applicationName: '#{applicationName}', platform: 'web'})")
                                    span.fa.fa-lg.fa-plus
                        div#dfx_edit_content_cat_panel.panel.pull-left
                            ul.dfx_edit_content_cat
                                li(style="background: none; color: white; font-weight: 600;") The result list is empty.
                div.clearfix
                div#lytedt_col_size(style="margin:10px;display:none")
                    div.row
                        div#lytedt_nbcol.form-group.col-lg-3(style="width:100px")
                            label(for="fldNbCol") Nb.Col:
                            select#fldNbCol.form-control
                                option 1
                                option 2
                                option 3
                                option 4
                        div#lytedt_col1.form-group.col-lg-3.dfx_lytedt_col_field(style="width: 100px;")
                            label(for="fldCol1") Column 1:
                            input#fldCol1.form-control(type="text", data-inputname='col1')
                        div#lytedt_col2.form-group.col-lg-3.dfx_lytedt_col_field(style="width: 100px;")
                            label(for="fldCol2") Column 2:
                            input#fldCol2.form-control(type="text", data-inputname='col2')
                        div#lytedt_col3.form-group.col-lg-3.dfx_lytedt_col_field(style="width: 100px;")
                            label(for="fldCol3") Column 3:
                            input#fldCol3.form-control(type="text", data-inputname='col3')
                        div#lytedt_col4.form-group.col-lg-3.dfx_lytedt_col_field(style="width: 100px;")
                            label(for="fldCol4") Column 4:
                            input#fldCol4.form-control(type="text", data-inputname='col4')
                        div.form-group.col-lg-3(style="margin-top: 25px;")
                            a.btn.btn-info(href="javascript:DfxStudio.layoutEditor.saveColumnsChanges();")
                                span.fa.fa-lg.fa-check
            div(style="margin-top: 30px;")
                a.btn.btn-info.save-now-submitter(href="javascript:DfxStudio.Home.Screens.update({applicationName: '#{applicationName}', formId: 'applicationScreenForm'});")
                    span.fa.fa-lg.fa-floppy-o
                    span(style="padding-left: 5px;") Save
                a.btn.btn-default(href="javascript:DfxStudio.layoutEditor.discardChanges({applicationName: '#{applicationName}'});", style="margin-left: 10px;")
                    span.fa.fa-lg.fa-undo
                    span(style="padding-left: 5px;") Cancel
                span#dfx_screen_detail_warning.label.label-warning.pull-right(style="font-size: 12px; margin-top: 7px; display: none;") Your changes have not been saved
div.panel.panel-danger(style="margin-top: 15px;")
    div.panel-heading
        h4 Danger Zone
    div.panel-body
        button.btn.btn-default(type='button', onclick="javascript:DfxStudio.Screens.deleteScreen({applicationName:'#{applicationName}', screenName:'#{screenName}'});", style="margin-left: 10px;")
            span.fa.fa-lg.fa-trash-o
            span(style="padding-left:5px") Delete the Page
