form#widgetForm(action="javascript:void(0);")
    div.panel.panel-primary
        div.panel-heading
            h4 View Main Properties
        div.panel-body
            fieldset
                div.form-group.col-lg-4
                    label(for="fldName") Name:
                    input#fldName.form-control(type="text", value='#{widget.name}', data-inputname='name', disabled)
                div.form-group.col-lg-8
                    label(for="fldDescription") Description:
                    input#fldDescription.form-control(type="text", name="fldDescription", value='#{widget.description}', data-inputname='description', placeholder="view description")
                div.form-group.col-lg-4
                    label(for="fldOwnerId") Owner:
                    input#fldOwnerId.form-control(type="text", name="fldOwnerId", value='#{widget.ownerId}', data-inputname='ownerId', placeholder="ex: john")
                div.form-group.col-lg-8
                    label(for="fldWidgetCategory") Category:
                    div.input-group
                        select#fldWidgetCategory.form-control.selectpicker(name="widgetCat", data-inputname="category", placeholder="")
                            if (widget.widgetcats && widget.widgetcats.length>0)
                                each widgetCat, i in widget.widgetcats
                                    option(value="#{widgetCat.name}", selected=widgetCat.name == widget.category) #{widgetCat.name}
                        span.input-group-btn
                            button#widgetAddCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Widgets.categories('create', '#{applicationName}', '#{widget.platform}');")
                                span.fa.fa-lg.fa-plus
                        span.input-group-btn
                            button#widgetEditCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Widgets.categories('edit', '#{applicationName}', '#{widget.platform}');")
                                span.fa.fa-lg.fa-pencil-square-o
                        span.input-group-btn
                            button#widgetRMCat.btn.btn-info(type="button", rel="popover", onclick="DfxStudio.Home.Widgets.categories('remove', '#{applicationName}', '#{widget.platform}');")
                                span.fa.fa-lg.fa-trash-o
                div.form-group.col-lg-4
                    label(for="fldPlatformVisible") Platform:
                    input#fldPlatform(name="fldPlatform", readonly, type="hidden", value='#{widget.platform}')
                    input#fldPlatformVisible.form-control(readonly, type="text", value='#{widget.platform == "web" ? "Web" : "Mobile"}')
                div.form-group.col-lg-3
                    label(for="fldType") Type:
                    select#fldType.form-control(name="fldType", data-inputname='wtype', placeholder="select a type", disabled)
                        option(value="jade", selected=widget.wtype=='jade') jade
                        option(value="visual", selected=widget.wtype=='visual') visual
                div.form-group.col-lg-12
                    button.btn.btn-info.save-now-submitter(onclick="DfxStudio.Home.Widgets.updateWidget({widgetName: '#{widget.name}', applicationName: '#{applicationName}', formId: 'widgetForm'});", type='submit')
                        span.fa.fa-lg.fa-floppy-o
                        span(style="padding-left:5px") Save
                    button.btn.btn-info(type='submit', onclick="DfxStudio.Home.Widgets.copy('#{applicationName}', '#{widget.name}', '#{widget.platform}');", style="margin-left:10px")
                        span.fa.fa-lg.fa-files-o
                        span(style="padding-left:5px") Copy As..
                    - var platform = widget.platform && widget.platform == 'mobile' ? 'mobile' : 'web'
                    a.btn.btn-info(href="/studio/widget/#{platform}/#{applicationName}/#{widget.name}/index.html", target="_blank",style="margin-left:10px")
                        span.fa.fa-lg.fa-pencil-square-o
                        span(style="padding-left:5px") View Editor
                    button.btn.btn-default(type='button', onclick="DfxStudio.Dispatcher.run('#!/home/#{applicationName}/widgets');", style="margin-left:10px")
                        span.fa.fa-lg.fa-undo
                        span(style="padding-left:5px") Cancel
    div.panel.panel-danger
        div.panel-heading
            h4 Danger Zone
        div.panel-body
            if widget.wtype == "visual"
                button.btn.btn-info(type='button', onclick='DfxStudio.convertToJade({widgetName:"#{widget.name}"});', style="margin-left:10px")
                    span.fa.fa-lg.fa-magic
                    span(style="padding-left:5px") Convert to Jade
            button.btn.btn-default(type='button', onclick='DfxStudio.deleteWidget({widgetName:"#{widget.name}",applicationName:"#{applicationName}"});', style="margin-left:10px")
                span.fa.fa-lg.fa-trash-o
                span(style="padding-left:5px") Delete the View
