- var labelPosition = gcitem.attributes.labelPosition && gcitem.attributes.labelPosition.value ? 'text-align:'+gcitem.attributes.labelPosition.value: '';
- var containerCss = '';
if (gcitem.attributes.containerCss)
    each val, key in gcitem.attributes.containerCss
        - if (val!='') containerCss += key + ':' + val + ';'
- var css = '';
if (gcitem.attributes.css)
    each val, key in gcitem.attributes.css
        - if (val!='') css += key + ':' + val + ';'
div(
    id="#{gcitem.id}_{{$index}}",
    ng-show = (gcitem.attributes.display.value == '' ? undefined : "#{gcitem.attributes.display.value}"),
    style=('display:inline-block;position:relative;' + (gcitem.attributes.containerStyle ? gcitem.attributes.containerStyle.value : '') + ';' + containerCss),
    class="#{gcitem.attributes.containerClasses.value}",
    ng-class = (gcitem.attributes.containerDynamicClasses.value == '' ? undefined : "#{gcitem.attributes.containerDynamicClasses.value}")
    )
    div(
        style="display:inline-block;",
        dfx-tool-tip,
        tooltip-title = (gcitem.attributes.tooltip && gcitem.attributes.tooltip.value ? "#{gcitem.attributes.tooltip.value}" : undefined),
        data-placement = (gcitem.attributes.tooltipPosition && gcitem.attributes.tooltipPosition.value ? "#{gcitem.attributes.tooltipPosition.value}" : undefined)
        )
            label(
                for="#{gcitem.id}_label_{{$index}}",
                ng-show = ((!gcitem.attributes.labelVisible.value) || (gcitem.attributes.labelVisible.value == 'no') ? 'false' : 'true'),
                style=((!gcitem.attributes.labelVisible.value) || (gcitem.attributes.labelVisible.value == 'no') ? 'display:none' : 'display:block;#{labelPosition};'),
                ) #{gcitem.attributes.label.value}
            input(
                id="#{gcitem.id}_rating_{{$index}}",
                name = (gcitem.attributes.name.value == '' ? undefined : "#{gcitem.attributes.name.value}"),
                style=(gcitem.attributes.style.value),
                class = (!gcitem.attributes.classes || gcitem.attributes.classes.value == '' ? 'rating' : 'rating ' + "#{gcitem.attributes.classes.value}"),
                type = "number",
                dfx-rating,
                data-readOnly = (gcitem.attributes.disabled && gcitem.attributes.disabled.value ? "#{gcitem.attributes.disabled.value}" : undefined),
                data-size = (gcitem.attributes.css.size ? "#{gcitem.attributes.css.size}" : "md"),
                data-fgColor = (gcitem.attributes.css.color == '' ? "#87ceeb" : "#{gcitem.attributes.css.color}"),
                data-bgColor = (gcitem.attributes.css.background == '' ? "#e3e3e3" : "#{gcitem.attributes.css.background}"),
                data-symbol != (gcitem.attributes.symbol && gcitem.attributes.symbol.value ? "#{gcitem.attributes.symbol.value}" : undefined),
                data-default-caption = (gcitem.attributes.caption && gcitem.attributes.caption.value ? "#{gcitem.attributes.caption.value}" : undefined),
                data-star-captions="{}",
                data-stars = (gcitem.attributes.symbolsNumber && gcitem.attributes.symbolsNumber.value ? "#{gcitem.attributes.symbolsNumber.value}" : 5),
                data-show-caption = ((!gcitem.attributes.captionVisible.value) || (gcitem.attributes.captionVisible.value == 'no') ? 'false' : 'true'),
                data-show-clear = ((!gcitem.attributes.clearVisible.value) || (gcitem.attributes.clearVisible.value == 'no') ? 'false' : 'true'),
                ng-model = (gcitem.attributes.property.value == '' ? undefined : "#{gcitem.attributes.property.value}"),
                ng-init = (gcitem.attributes.propertyInit.value == '' ? undefined : "#{gcitem.attributes.propertyInit.value}"),
                ng-change = (gcitem.attributes.onchange && gcitem.attributes.onchange.value ? "#{gcitem.attributes.onchange.value}" : undefined),
                min = (gcitem.attributes.min && gcitem.attributes.min.value ? "#{gcitem.attributes.min.value}" : undefined),
                max = (gcitem.attributes.max && gcitem.attributes.max.value ? "#{gcitem.attributes.max.value}" : undefined),
                step = (gcitem.attributes.step && gcitem.attributes.step.value ? "#{gcitem.attributes.step.value}" : undefined))